body{
  background-color:  #02010a;
  font-family: 'Dancing Script', cursive;
}

header{
  background: #5b7989;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  color: white;
  display: flex;
  flex-flow: row wrap;
}

#titulo{
  text-shadow: 2px 2px #02010a;
  font-size: 1.5em;
  padding: 1em;
}

#menu{
  font-size: 1.2em;
  padding: 1em;
}

img{
  -webkit-filter: drop-shadow(2px 2px #02010a);
  filter: drop-shadow(2px 2px #02010a);

}

figure{
  margin: 0 auto;
}

a:link, a:visited{
  color: white;
  padding: 0.5em;
}

#imagenCentral{
  background: #82c3a6;
  width: 100%;
}

#imagenCentral img{
  width: 90%;
  margin: 2.5% 5%;
}

#imgInferiores{
  background: #d5c75f;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

#imgInferiores img{
  width: 95%;
  margin: 2.5%;
}


@media (max-width:900px) {
  #contenido{
    width: 100%;
  }
  #titulo{
    width: 100%;
    order: 1;
    text-align: center;
  }
  #menu{
    width: 100%;
    order: 2;
    text-align: center;
  }
  #paisajes{
    order: 1;
    width: 100%;
  }
  #retratos{
    order: 2;
    width: 100%;
  }


}

@media (min-width:901px) {
  #contenido{
    width: 900px;
    margin: 0 auto;
  }
  #titulo{
    width: 45%;
    order: 1;
  }
  #menu{
    width: 45%;
    order: 2;
    text-align: right;
  }
  #paisajes{
    order: 1;
    width: 50%;
  }
  #retratos{
    order: 2;
    width: 50%;
  }



}
